@import '../../../../../styles/vars';

.energy {
    width: 46.9%;
    height: 83.33%;
    position: relative;
    &_img {
        position: absolute;
        z-index: 2;
        width: 37.83%;
        height: auto;
    }
    &_count {
        position: absolute;
        background: $dark_gradient;
        border: 2px solid #494949;
        color: #fff;
        width: 86.67%;
        height: 58.18%;
        top: 22.84%;
        right: 0;
        z-index: 1;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_text {
        font-size: 113%;
    }
}