.game_page {
    margin: 0 auto;
    background-color: #ccc;
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.element {
    position: absolute;
    background-color: red;
    animation: smooth-start .5s forwards;
    cursor: pointer;
}

.smooth-end {
    animation: smooth-end .5s forwards;
}

@keyframes smooth-start {
    0% {
        opacity: 0;  
    }
    100% {
        opacity: 1;  
    }
}
@keyframes smooth-end {
    0% {
        opacity: 1;  
    }
    100% {
        opacity: 0;  
    }
}