@import '../../../../assets/styles/vars';

.container {
    max-width: 380px;
    &_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-height: 705px) {
    .container {
        max-width: 330px;
    }
}