.footer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 3.94vw;
    left: 4.27%;
    width: 91.47%;
    height: 7.39%;
    background: linear-gradient(to right, #202020, #223B37);
    border-radius: 8px;
    z-index: 3;
}