@import '../../../../assets/styles/vars';

.item {
    overflow: visible;
    position: relative;
    height: min(16.53vw, 62px);
    display: flex;
    align-items: center;
    font-family: $MBold;
    color: #fff;
    text-align: center;
    &_img {
        position: absolute;
        width: min(16.53vw, 62px);
        height: min(16.53vw, 62px);
        z-index: 2;
        left: -30%;
    }
    &_container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        height: min(12.2vw, 45.75px);
        border-radius: $br8px;
        background: $dark_gradient;
        border: 2px solid #494949;
        &_inner {
            padding-right: 10%;
            display: flex;
            flex-direction: column;
            width: max-content;
            align-items: flex-start;
            height: 100%;
            justify-content: center;
            &_title {
                display: flex;
                align-items: center;
                font-size: $fz12px;
                gap: 3%;
                width: max-content;
                &_text {
                    white-space: nowrap;
                }
                &_icon {
                    width: $fz12px;
                    height: $fz12px;
                }
            }
            &_count {
                white-space: nowrap;
                font-size: $fz18px;
            }
        }
    }
}