@import '../../../../../../assets/styles/vars';

.container {
    width: min(44.17vw, 165.63px);
    white-space: nowrap;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: $size12px;
    padding: $size8px;
    &_inner {
        display: flex;
        align-items: center;
        gap: $size6px;
        &_info {
            display: flex;
            flex-direction: column;
            gap: $size6px;
            &_place {
                font-size: $size10px;
            }
        
            &_reward {
                font-size: $size10px;
                background-color: #223B37;
                width: min(26.67vw, 100px);
                height: min(6.93vw, 26px);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $size8px;
            }
        
            &_chance {
                font-size: $size8px;
                width: min(16.53vw, 62px);
                height: min(5.87vw, 22px);
                border-radius: $size8px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &_img {
            width: min(9.6vw, 36px);
            height: min(9.6vw, 36px);
        }
    }
}