@import '../../../../../../assets/styles/vars';

.container {
    display: flex;
    align-items: center;
    gap: 0.1vw;
    flex-wrap: nowrap;
    white-space: nowrap;
    &_count {
        span {
            font-weight: bold;
        }
    }
    img {
        width: min(4.8vw, 18px);
    }
}

@media (max-width: 319px) {

    .container {
        width: 100%;
        justify-content: center;
    }
}