$page_width: 375px;
$page_height: 812px;

$dark_gradient: linear-gradient(to right, #202020, #223B37);
$page_background: '../../../public/images/background.png';
$tree_background: '../../../public/images/tree.png';