@import '../../assets/styles/vars';

.tree {
    position: absolute;
    width: 63.73%;
    height: 58.87%;
    left: 18.13%;
    top: 21.33%;
    background: url($tree_background);
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: center;
}