@import '../../../../assets/styles/vars';

.list {
    display: flex;
    flex-direction: column;
    width: $size343px;
    z-index: 2;
    position: relative;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    &_wrapper {
        width: 98%;
        &_item {
            border: min(0.53vw, 2px) solid $green;
            border-radius: $br8px;
            margin-bottom: 5%;
        }
    }
}
@media (max-height: 797px) {
    .list {
        max-height: 38vh;
    }
}
@media (max-height: 774px) {
    .list {
        max-height: 35vh;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}