@import '../../styles/vars';

.shop_page {
    position: relative;
    margin: 0 auto;
    background: url($page_background);
    width: $page_width;
    height: $page_height;
    display: flex;
    flex-direction: column;
}