@import '../../../../assets//styles/vars';

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    top: 0;
    left: 0;
    background: $dark_gradient;
    color: #fff;
    display: flex;
    justify-content: center;
    border-top-left-radius: min(8.53vw, 32px);
    border-top-right-radius: min(8.53vw, 32px);
    animation: enter .5s ease;
    transition: opacity .5s ease, transform .5s ease;
    &.hide {
        opacity: 0;
        transform: translateY(100vh);
    }
    &_orange {
        position: absolute;
        width: 49.87vw;
        top: 4.8vh;
    }
    &_chips {
        position: fixed;
        width: min(136.53vw, 512px);
    }
    &_inner {
        background-image: url('../../assets/chips.png');
        background-size: 134%;
        background-position-x: 50%;
        background-position-y: -17%;
        background-repeat: no-repeat;
        padding-top: min(13.67vh, 111px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-top-left-radius: min(8.53vw, 32px);
        border-top-right-radius: min(8.53vw, 32px);
        &_info {
            width: 100%;
            max-width: 375px;
            padding: 0 $size16px;
        }
        &_logo {
            width: min(59.73vw, 224px);
            margin-bottom: min(7.02vh, 57px);
            z-index: -1;
        }
        &_button {
            width: 100%;
            height: min(15.47vw, 58px);
            background-color: $green;
            color: #000;
            border-radius: $size12px;
            font-size: min(1.97vh, 16px);
            font-family: $MBold;
            margin-top: min(3.45vh, 812px);
            padding-top: min(2.09vh, 17px);
            padding-bottom: min(2.09vh, 17px);
        }
        &_close {
            position: absolute;
            width: min(8.53vw, 32px);
            height: min(8.53vw, 32px);
            top: 2%;
            right: 5%;
        }
    }

}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    100% {
        opacity: 1;
        transform: translate(0vh);
    }
}