@import '../../../assets/styles/vars';

.count {
    position: relative;
    width: 67.73%;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.3%;
    font-family: $MBold;
    font-size: 112.5%;
    color: #fff;
    &_first {
        width: 46.06%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_text {
            font-size: 18px;
        }
        &_img {
            width: 20.51%;
            height: auto;
        }
    }
}