@import '../../../assets/styles/vars';

.main_button {
    position: fixed;
    bottom: 5.2vw;
    left: 40.53vw;
    width: min(18.67vw, 70px);
    height: min(18.67vw, 70px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    z-index: 5;
    background-size: contain;
    animation: opacity 1s linear;  
}
.footer_background {
    position: fixed;
    width: 91.47vw;
    height: min(16vw, 60px);
    background: $dark_gradient;
    z-index: 5;
    bottom: 6.53vw;
    left: 4.27vw;
    border-radius: $size8px;
}
.main_video {
    position: fixed;
    bottom: 5.2vw;
    left: 40.53vw;
    width: min(18.67vw, 70px);
    /* Ограничиваем ширину видео */
    height: min(18.67vw, 70px);
    /* Ограничиваем высоту видео */
    border-radius: 50%;
    /* Круглая форма для видео */
    background-size: contain;
    z-index: 5;
    /* Тот же z-index, чтобы видео не перекрывало другие элементы */
    border: min(1.27vw, 4.75px) solid #1492A5;
    animation: opacity 1s linear;
}


@keyframes opacity {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}