@import '../../assets/styles/vars';

.container {
    @each $property, $value in $page_styles {
        #{$property}: $value;
    }
    height: $page_height;
    background: $dark_gradient;
    &_buttons {
        display: flex;
        gap: $size12px;
        margin-top: min(1.48vh, 12px);
    }
}